/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
}
.pc-only {
	display: block;
}
.sponly {
	display: none;
}
.sp-only {
	display: none;
}
input, button, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
body.base {
	font-family: Lato, "Noto Sans Japanese", "游ゴシック Medium", 游ゴシック体, "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:0;
	background-image: url("../img/header-bg.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: top right;
	min-height: 100vh;
}
body.base.college_01 {
	background-image: url("../img/header-bg_college_01.png");
}
body.base.college_02 {
	background-image: url("../img/header-bg_college_02.png");
}
body.base.college_03 {
	background-image: url("../img/header-bg_college_03.png");
}
body.base.college_04 {
	background-image: url("../img/header-bg_college_04.png");
}


a {
	color: inherit;
	display: block;
}
a.disabled {
    cursor: default;
}
a:visited {
    cursor: inherit;
}
.line {
	border-top: 3px solid #000;
}
.line_top {
	position: relative;
}
.line_top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 3px;
    margin: 0 auto;
    text-align: center;
	background-image: -webkit-linear-gradient(left, transparent, #000 25%, #000 75%, transparent);
    background-image: -webkit-linear-gradient(to right, transparent, #000 25%, #000 75%, transparent);
	background-image: linear-gradient(left, transparent, #000 25%, #000 75%, transparent);
    background-image: linear-gradient(to right, transparent, #000 25%, #000 75%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}
.must::after {
	content:'必須';
	font-size: 0.8rem;
	padding: 0.2rem 0.5rem;
	background: #FF3838;
	border-radius: 5px;
	color: #fff;
	margin-left: 1.0rem;
}
/*　ハンバーガーボタン　*/
.hamburger {
  display : none;
  position: fixed;
  z-index : 100;
  right : 3vw;
  top   : 20px;
  width : 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
	background: #f19b37;
	border-radius: 50%;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 25px;
  height  : 2px ;
  left    : 12.5px;
  background : #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 14px;
}
.hamburger span:nth-child(2) {
  top: 24px;
}
.hamburger span:nth-child(3) {
  top: 34px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 25px;
  left: 12.5px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 25px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 50;
  top  : 0;
  right : 0;
  color: #fff;
  background: rgba(255, 184, 51,0.9);
  text-align: left;
  width: 30%;
	height: 100vh;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
	visibility: hidden;
}

nav.globalMenuSp ul {
  margin: 80px auto 40px;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
	font-size: 18px;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li.sub {
	font-size: 16px;
	text-indent: 1rem;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}
nav.globalMenuSp ul li.no-link:hover{
  background :inherit;
}
nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 0.4em 0 0.4em 1em;
  text-decoration :none;
	position: relative;
}
nav.globalMenuSp ul li a:hover {
  color: #e39a12;
}
nav.globalMenuSp ul li a.disabled:hover {
  color: inherit;
}
nav.globalMenuSp ul li a::after {
  content:'';
  position: absolute;
  right:5%;
  top:15.5px;
  width:8px;
  height:8px;
  border-top: 3px solid #fff;
    border-right:3px solid #fff;
    transform: rotate(45deg);
}

nav.globalMenuSp ul li a.disabled::after {
  content:'';
  border-top: none;
    border-right:none;
}
nav.globalMenuSp p.logout {
  width: 80%;
	margin: 20px auto 40px;
  color: #fff;
  background: #e39a12;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
}
nav.globalMenuSp p.logout a {
  text-decoration: none;
	padding: 1.0rem 0;
}
nav.globalMenuSp p.logout a:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-left: -10px;
	background-image: url(../img/icon-logout-white.png);
	background-size: contain;
	vertical-align: middle;
}
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
	visibility: visible;
}
.hamburger.is_flow {
  display : block;
  
}
main {
	max-width: 1300px;
	margin: auto;
	padding: 0 3%;
}

.anim-box.fadein.is-animated {
  animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
	font-size: 30px;
	font-family: 游明朝;
	text-align: center;
	margin: auto;
	margin-top: 6.0rem;
}
.sec01 {
	width: 50%;
	margin: auto;
	padding-bottom: 6.0rem;
}

.sec01 p.date {
	font-size: 11px;
	font-family: ヒラギノ角ゴシック;
	text-align: center;
	margin: auto;
	margin-top: 1.0rem;
}
.sec01 .pg-link {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #b9b9b9;
}
.sec01 .pg-link a {
	width: 33%;
	font-size: 18px;
	text-align: left;
	text-decoration: none;
	position: relative;
	padding-left: 2.5rem;
}
.sec01 .pg-link a::before {
	content: url("/img/pagelink.png");
	display: inline-block;
	position: absolute;
	left: 5%;
}
.sec01 .pg-link a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: -20%;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#edc755;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.sec01 .pg-link a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}
.sec01 table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 2.0rem;
	font-size: 16px;
}
.sec01 table th {
	width: 20%;
	border-bottom: 1px solid #edc755;
	padding: 2.0rem 0.5rem 0.5rem;
	text-align: left;
}
.sec01 table td {
	border-bottom: 1px solid #b9b9b9;
	padding: 2.0rem 0.5rem 0.5rem 5.0rem;
}
.sec01.affiliation h3 {
	width: 100%;
}
.sec01.affiliation a {
	display: inline-block;
	text-decoration: none;
	color: #f19b37;
	font-weight: bold;
}
.sec01.top h2 {
	font-size: 30px;
	font-family: 游明朝;
	text-align: center;
	width: 50%;
	margin: auto;
	margin-top: 6.0rem;
	position: relative;
}
.sec01.top h2::before {
    content: url(../img/sq.png);
    display: inline-block;
    position: absolute;
    left: 10%;
    bottom: 0.2rem;
}
.sec01.top h2.text4::before {
    left: 20%;
}
.sec01.top .pg-link {
	border-bottom: none;
	position: relative;
	padding-bottom: 1.0rem;
	
}
.sec01.top .pg-link::after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 1px;
    margin: 0 auto;
    text-align: center;
    
    background-image: linear-gradient(to right, transparent, #D7D7D7 0%, #D7D7D7 75%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}
.sec01.top .pg-link a {
	width: 100%;
	font-size: 20px;
	padding-top: 2rem;
	text-align: center;
	padding-left: 0;
}
.sec01.top .pg-link a.top::before {
	content: '';
    position: absolute;
    left: 90%;
    bottom: 0.5rem;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fba54a;
    border-right: 2px solid #fba54a;
    transform: rotate(45deg);
}
.sec01.contact p.caution {
	width: 100%;
	margin: auto;
	font-size: 14px;
	margin-top: 1.0rem;
	text-align: center;
}
.sec01.contact .contact_form {
	width: 100%;
	margin-top: 3rem;
}
.sec01.contact .contact_form label {
	font-size: 18px;
	margin: 1.0rem 0;
}
.sec01.contact .contact_form textarea {
	width: 100%;
	margin: 1.0rem 0;
	padding: 1.0rem;
	resize: none;
	font-size: 1.0rem;
	line-height: 1.5rem;
	border: 1px solid #c4c4c4;
	border-radius: 20px;
}
.sec01.contact .contact_form p {
	width: 100%;
	margin: 1.0rem 0;
	padding: 1.0rem;
	font-size: 1.0rem;
	line-height: 1.5rem;
	padding-left: 0;
}
.sec01.contact .contact_form textarea:focus {
	border: 2px solid #c4c4c4;
	border-color: #f19b37;
	outline: 0;
}
.sec01.contact .contact_form p.result {
	text-align: center;
	font-weight: bold;
	margin: 8rem 0;
}
.sec01.contact .btn-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sec01.contact .result {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.sec01.contact .btn-area .btn {
	width: 45%;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 900;
	border-radius: 20px;
}
.sec01.contact .btn-area .btn a {
	padding: 1rem 0;
	text-decoration: none;
}
.sec01.contact .btn-area .clear {
	background: #eee;
	color: #000;
}
.sec01.contact .btn-area .submit {
	background: #1a1a1a;
}
.sec01.contact .btn-area .top-back {
	background: #1a1a1a;
}
.sec01.contact .contact_form input {
	width: 100%;
	margin: 1.0rem 0;
	padding: 0.5rem 1.0rem;
	resize: none;
	font-size: 1.0rem;
	line-height: 1.5rem;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
}
.sec01.contact .contact_form input:focus {
	border: 2px solid #c4c4c4;
	border-color: #f19b37;
	outline: 0;
}
.sec01.contact .contact_form > div {
	margin-top: 1.5rem;
}
.sec01.contact .contact_form > div:last-child {
	margin-bottom: 2.5rem;
}
#user1 .sec01 .pg-link a {
	width: 100%;
	font-size: 18px;
	padding-top: 2rem;
	position: relative;
}
.sec01.contact .contact_form form {
	text-align: left;
}
.sec01.contact .contact_form select {
	margin: 1.0rem 0;
	padding: 0.5rem 1.0rem;
	resize: none;
	font-size: 1.0rem;
	line-height: 1.5rem;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
}
.sec01.contact .contact_form select.year {
	width: 40%;
}
.sec01.contact .contact_form select.month,
.sec01.contact .contact_form select.day {
	width: 15%;
	margin-left: 4%;
}
.sec01.contact .contact_form option {
	
}
.sec02 {
	width: 100%;
	padding-bottom: 6.0rem;
}
.sec02 dl {
	width: 50%;
	border-bottom: 1px solid #b9b9b9;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sec02 dl.bd-none {
	border-bottom: none;
}
.sec02 dt {
	width: 60%;
	padding: 2.0rem 0.5rem 0.5rem 0.5rem;
	position: relative;
}
/*
.sec02 dt::before {
	content: url("../img/sq.png");
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0.4rem;
}
*/
.sec02 dd {
	width: 20%;
	padding: 2.0rem 0.5rem 0.5rem;
	text-align: right;
}
.sec02 table {
	width: 50%;
	margin: auto;
	border-collapse: collapse;
	margin-top: 1.5rem;
	font-size: 16px;
}
.sec02 table th {
	width: 25%;
	border-bottom: 1px solid #000;
	padding: 2.0rem 0.5rem 0.5rem;
	text-align: center;
}
.sec02.attendance table th {
	font-size: 1.1rem;
}
.sec02 table th span {
	font-size: 1.0rem;
	font-weight: 100;
	line-height: 1.2rem;
}
.sec02 table td {
	width: 25%;
	border-bottom: 1px solid #b9b9b9;
	padding: 2.0rem 0.5rem 0.5rem;
	text-align: center;
}
.sec02 p.caution {
	width: 50%;
	margin: auto;
	font-size: 14px;
	margin-top: 1.0rem;
	text-align: left;
}
.sec02.attendance table {
	margin-top: 0;
}
.sec03 {
	width: 100%;
	padding-bottom: 6.0rem;
}
.sec03 table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1.5rem;
	font-size: 16px;
}
.sec03 table .wide {
	width: 40%;
}
.sec03 table .narrow{
	width: 15%;
	text-align: center;
}
.sec03 table tr:nth-child(odd) {
	background: #f4f4f4;
}
.sec03 table tr:first-child {
	background: #fff;
}
.sec03 table th,
.sec03 table td {
	padding: 2.0rem 0.5rem;
}
.sec03 table th {
	border-bottom: 2px solid #000;
}
.sec03 p.caution {
	font-size: 14px;
	margin-top: 1.0rem;
	text-align: left;
}
.sec04 {
	width: 100%;
	padding-bottom: 6.0rem;
}
.sec04 p {
	margin-top: 1.0rem;
}
.sec04 div {
	margin-top: 2.0rem;
}
h2 {
	font-family: 游明朝;
	font-size: 22px;
	margin-top: 1.5rem;
	position: relative;
	padding-left: 1.5rem;
}
h2::before {
	content: url("../img/sq.png");
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}
h2.no_img::before {
	content: none;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}
h2.attendance {
	width: 50%;
	margin: 3rem auto 2rem;
	font-size: 24px;
}
h3 {
	font-family: 游明朝;
	font-size: 24px;
	padding-left: 1.5rem;
	position: relative;
	width: 50%;
	margin: 5.0rem auto 0;
}
h3::before {
	content: url("../img/sq.png");
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}


/* ヘッダー */
header {
	width: 100%;
	z-index: 10;
}
.header-wrap {
	width: 100%;	
	
	
	
}
.header-box {
	width: 70%;
	min-width: 650px;
	max-width: 1980px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.header-box::after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    text-align: center;
    
    background-image: linear-gradient(to right, transparent, #D7D7D7 0%, #D7D7D7 75%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}
.header-box > .area01 {
	width: 60%;
	max-width: 600px;
	height: 90px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-left: 3vw;
	margin-bottom: 2rem;
}
.area01 > figure {
	width: 50%;
	padding-top: 8px;
}
.area01 > figure img {
	width: 100%;
	max-width: 250px;
}
.area01 > .pg-ttl {
	width: 35%;
	margin-left: 8%;
	border: 1px solid #edc755;
	border-radius: 25px;
	text-align: center;
	color: #edc755;
	font-size: 16px;
	height: 50px;
	padding: 0.8rem 0;
	background: #fff;
}
.header-box > .area02 {
	width: 35%;
	height: 90px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	font-size: 12px;
	padding-top: 20px;
	margin-bottom: 2rem;
}
.area02 > .name {
	width: 65%;
	
	text-align: right;
}
.area02 > .name:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-image: url(/img/icon-name.png);
	background-size: contain;
	vertical-align: middle;
}
.area02 > .logout {
	width: 35%;
	min-width: 100px;
	padding: 0.8rem 0;
	text-align: right;
}
.area02 > .logout a {
	display:inline-block;
	text-decoration: none;
	
}
.area02 > .logout:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-image: url(../img/icon-logout.png);
	background-size: contain;
	vertical-align: middle;
}

.header-box > nav.global {
	width: 100%;
	margin-top: 20px;
	height: 50px;
}
nav.global ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;
}

nav.global ul li {
	list-style: none;
	font-weight: bold;
	font-size: 15px;
	width: 19%;
	margin-right: 1%;
	text-align: center;
}
nav.global ul li a {
	display: block;
	text-decoration: none;
}
/****** リンク下線処理 ******/
nav.global li a{
    /*線の基点とするためrelativeを指定*/
  position: relative;
	padding-bottom: 25px;
}
nav.global li li a{
    /*線の基点とするためrelativeを指定*/
  position: relative;
	padding-bottom: 10px;
}

nav.global li.current a,
nav.global li a:hover{
  color:#f0d174;
}

nav.global li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 4px;
    background:#f0d174;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}
#user2 nav.global li:first-child a.nav_link01::after {
    /*アニメーションの指定*/
    transition: none;
    transform: none;/*X方向0、Y方向1*/
    transform-origin: none;/*上部中央基点*/
}
#user3 nav.global li:nth-child(2) a.nav_link02::after {
    /*アニメーションの指定*/
    transition: none;
    transform: none;/*X方向0、Y方向1*/
    transform-origin: none;/*上部中央基点*/
}
#user4 nav.global li:nth-child(3) a.nav_link03::after {
    /*アニメーションの指定*/
    transition: none;
    transform: none;/*X方向0、Y方向1*/
    transform-origin: none;/*上部中央基点*/
}
#user5 nav.global li:nth-child(4) a.nav_link04::after {
    /*アニメーションの指定*/
    transition: none;
    transform: none;/*X方向0、Y方向1*/
    transform-origin: none;/*上部中央基点*/
}


/*現在地とhoverの設定*/
nav.global li.current a::after,
nav.global li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}
/****** リンク下線処理 ******/

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/

nav.global ul li.has-child::before{
  content:'';
  position: absolute;
  left:35%;
  top:6px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*== 2層目の設定 */

nav.global li.has-child ul{
  /*絶対配置で位置を指定*/
    position: absolute;
  left:5%;
  top:50px;
  z-index: 100;
  /*子要素を横並びに*/    
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
    /*形状を指定*/
  background:#f4f4f4;
  width:90%;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
     /*アニメーション設定*/
  transition: all .3s;
	height: 50px;
}
/*hoverしたら表示*/
nav.global li.has-child:hover > ul{
  visibility: visible;
  opacity: 1;
}

/*各ナビゲーション横幅*/
nav.global li.has-child ul li{
  width:20%;
	margin-top: 15px;
	
}

/*ナビゲーションaタグの形状*/
nav.global li.has-child ul li a{
  color: #inherit;
	font-weight: normal;
	font-size: 13px;
}

nav.global li.has-child ul li a:hover,
nav.global li.has-child ul li a:active{
  color:#000;
}
/* メニュー非表示(ログイン前) */
body#user1 .hamburger {
	display: none;
}
body#user1 .hamburger.is_flow {
	display: none;
}
body#user1 nav.globalMenuSp {
	display: none;
}
body#user1 header .area02 {
	display: none;
}
body#user1 header nav.global {
	display: none;
}
/* フッター */
footer {
	width: 100%;
	height: 200px;
	background: #e4e4e4;
}
footer p {
	width: 50%;
	margin: auto;
	text-align: center;
	color: #6e6e6e;
	padding-top: 50px;
}
footer ul {
	display: flex;
	padding-top: 2.0rem;
	width: 100%;
	max-width: 1300px;
	margin: auto;
	justify-content: center;
}
footer ul li {
	width: 50%;
	max-width: 200px;
	list-style: none;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #000;
}
footer ul li:last-child {
	border-right: none;
	text-indent: -3.5rem;
}
footer ul li a {
	text-decoration: none;
}
body#user1 footer ul {
	display: none;
}
/* TOPリンクボタン */
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 3vw;
  bottom: 6vh;
  background: #ffd454;
  opacity: 0.6;
  border-radius: 20%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0d8';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/* admin用TOPリンクボタン */
#page_top_admin{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 3vw;
  bottom: 6vh;
  background: #798BD0;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top_admin a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top_admin a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/*きらっと光る*/

.btnshine{
    /*キラッと光る基点とするためrelativeを指定*/
  position: relative;
    
    outline: none;
    overflow: hidden;
}

/*キラッと光る*/
.btnshine::before {
  content: '';
    /*絶対配置でキラッと光るの位置を決める*/
  position: absolute;
  top: 0;
  left: -75%;
    /*キラッと光る形状*/
    width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
}

/*hoverした際の移動のアニメーション*/
.btnshine:hover::before {
  animation: shine 0.5s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* 管理者ページ */
body#admin{
	font-family: Lato, "Noto Sans Japanese", "游ゴシック Medium", 游ゴシック体, "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:0;
	min-height: 100vh;
	background-image: none;
	background-repeat: inherit;
	background-size: inherit;
	background-position: inherit;
	min-width: 768px;
}
#admin .header-box::after {
	content: '';    
    background-image: none;
}
#admin .area01 {
	width: 80%;
	max-width: 600px;
	height: 90px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-left: 3vw;
	margin-bottom: 20px;
}
#admin .ttl {
	width:100%;
	margin: auto;
	padding-top: 6.0rem;
}
#admin .ttl h1 {
	font-size: 40px;
	font-family: 游明朝;
	text-align: center;
	margin: auto;
}
#admin .ttl p {
	font-size: 12px;
	font-family: 游明朝;
	text-align: left;
	margin: auto;
	padding-left: 1rem;
}
#admin .pg-ttl {
	width: 40%;
	margin-left: 8%;
	border: 1px solid #8A9AD6;
	border-radius: 25px;
	text-align: center;
	color: #8A9AD6;
	font-size: 16px;
	height: 50px;
	padding: 0.8rem 0;
	background: #fff;
}
#admin .bg-gray {
	background: #F2F2F2;
}
#admin .content {
	width:100%;
	margin: auto;
	margin-top: 5.0rem;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}
#admin .content .txt-box {
	font-size: 16px;
	font-family: 游明朝;
	width:33%;
	padding: 1.5rem 2rem 1.5rem 0;
}
#admin .content .txt-box p {
	line-height: 2rem;
	font-weight: bold;
}
#admin .content .login-form {
	font-size: 16px;
	font-family: 游明朝;
	width:33%;
	padding: 0 1rem;
}
#admin .login-form #name {
	font-size: 16px;
	width:100%;
	resize: none;
	font-size: 1.0rem;
	padding: 0.5rem 1.0rem;
	border-radius: 10px;
	border: 1px solid #CECECE;
	margin-bottom: 2.5rem;
}
#admin .login-form #password {
	font-size: 16px;
	width:100%;
	resize: none;
	font-size: 1.0rem;
	padding: 0.5rem 1.0rem;
	border-radius: 10px;
	border: 1px solid #CECECE;
	margin-bottom: 3.0rem;
}

#admin .login-form input.btn {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	width:100%;
	padding: 1.5rem;
	border-radius: 10px;
	background: #1a1a1a;
	border: none;
	
}
#admin .login-form input.btn:hover {
	cursor: pointer;
}
#admin .login-form #name:focus {
	border: 2px solid #CECECE;
	border-color: #5264A8;
	outline: 0;
}
#admin .login-form #password:focus {
	border: 2px solid #CECECE;
	border-color: #5264A8;
	outline: 0;
}
#admin .login-form .btn-area .btn {
	width: 70%;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 20px;
	background: #5264A8;
	font-family: 游ゴシック Medium;
	margin: 2.0rem auto 5.0rem;
}
#admin .sec02 .btn-area .btn {
	width: 20%;
}
#admin .login-form .btn-area .btn a {
	padding: 1.0rem 0;
	text-decoration: none;
}
#admin .btn-area .btn a {
    padding: 1.0rem 0;
    text-decoration: none;
	font-size: 18px;
}
#admin h1 {
	margin-top: 0;
	padding-top: 6.0rem;
}

#admin footer {
	width: 100%;
	height: 200px;
	background: #F2F2F2;
}
/* 管理者ページヘッダー */
#admin .header-box {
	width: 100%;
}
#admin .area02 > .logout {
	text-align: center;
}
#admin nav.global ul {
	justify-content: center;
}
#admin .area02 > .name:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	background-image: url(/img/icon-admin.png);
	background-size: contain;
	vertical-align: middle;
}
#admin nav.global ul li {
	width: 15%;
	margin-right: 0;
	border-bottom: 3px solid #A7A7A7;
}
#admin nav.global li.current a,
#admin nav.global li a:hover{
  color:#6773CB;
}

#admin nav.global li a::after {
    background:#6773CB;
}
#admin.admin2 nav.global li:first-child a.nav_link01 {
	color: #7685BE;
}
#admin.admin2 nav.global li:first-child a.nav_link01::after {
    /*アニメーションの指定*/
    transition: none;
    transform: none;/*X方向0、Y方向1*/
    transform-origin: none;/*上部中央基点*/
	width: 100%;
	color: #7685BE;
	left: 0;
	bottom: -3px;
	height: 3px;
}
#admin.admin3 nav.global li:first-child a.nav_link02 {
	color: #7685BE;
}
#admin.admin3 nav.global li:nth-child(2) a.nav_link02::after {
    /*アニメーションの指定*/
    transition: none;
    transform: none;/*X方向0、Y方向1*/
    transform-origin: none;/*上部中央基点*/
	width: 100%;
	color: #7685BE;
	left: 0;
	bottom: -3px;
	height: 3px;
}
#admin .sec02 table {
	table-layout: fixed;
	width: 100%;
	margin-top: 6.0rem;
	border-collapse: separate;
	border-spacing: 0px 2px;
}
#admin .sec02 table th {
	color: #fff;
	background: #798BD0;
	padding: 1.0rem 0.5rem;
	border-bottom: inherit;
}
#admin .sec02 table th:first-child {
	border-radius: 10px 0 0 0;
}
#admin table .w5 {
	width: 5%;
}
#admin table .w8 {
	width: 8%;
}
#admin table .w10 {
	width: 10%;
}
#admin table .w14 {
	width: 14%;
}
#admin table .w15 {
	width: 15%;
}
#admin table .w20 {
	width: 20%;
}
#admin table .w25 {
	width: 25%;
}
#admin table .w30 {
	width: 30%;
}
#admin table .w35 {
	width: 35%;
}
#admin table .w40 {
	width: 40%;
}
#admin table .w45 {
	width: 45%;
}
#admin table .w50 {
	width: 50%;
}
#admin .sec02 table th:last-child {
	border-radius: 0 10px 0 0;
}
#admin .sec02 table td {
	color: #000;
	background: #FFF;
	padding: 1.5rem;
	border-bottom: inherit;
	margin-top: 1px;
}
#admin .sec02 table td input,
#admin .sec02 table td select {
	width: 100%;
	padding: 0.5rem 1.0rem;
	resize: none;
	font-size: 1.0rem;
	line-height: 1.5rem;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
}

#admin .sec02 table td input:focus,
#admin .sec02 table td select:focus {
	border: 2px solid #c4c4c4;
	border-color: #798BD0;
	outline: 0;
}

#admin .sec02 .search_result table {
	font-size: 14px;
	font-weight: 200;
	
}

#admin .sec02 .search_result table td {
	padding: 1.5rem 0.5rem;
	font-weight: bold;
	position: relative;
}
#admin .sec02 .search_result table td a {
	text-decoration: none;
	color: #5466A9; 
}
#admin .sec02 .search_result table td span a {
	display: inline-block;
	border: 1.5px solid #D2D2D2;
	color: #4E4E4E;
	padding: 0.5rem 1rem;
	border-radius: 5px;
}
#admin .sec02 .search_result table td span a:hover {
	border: 1px solid #D2D2D2;
	color: #FFF;
	background: #D2D2D2;
}
#admin .sec02 .search_result table td button {
    display: inline-block;
    border: 1.5px solid #D2D2D2;
    color: #4E4E4E;
    padding: 0.5rem 1rem;
    border-radius: 5px;
	background: inherit;
	font-weight: bold;
	font-size: 14px;
}
#admin .sec02 .search_result table td button:hover {
    border: 1px solid #D2D2D2;
	color: #FFF;
	background: #D2D2D2;
	cursor: pointer;
}
#dialog {
	display: none;
	width: 40%;
	position: fixed;
	top: 30vh;
	border: 2px solid #798BD0;
	border-radius: 15px;
	padding: 2rem;
	box-shadow: 0 0 8px gray;
	background: rgba(255,255,255,0.9);
	z-index: 9999;
}
.open_dialog,
.close_dialog {
	cursor: pointer;
}
#dialog p {
	font-size: 16px;
	margin-bottom: 3rem;
}
#dialog .dialog_btn {
	display: flex;
	justify-content: space-around;
}
#dialog .dialog_btn button {
	width: 40%;
}
#admin #dialog .dialog_btn button.submit {
	color: #FFF;
	background: #798BD0;
}
#admin #dialog .dialog_btn button.submit input {
	border: none;
	border-radius: none;
	background: inherit;
	padding: 0;
	color: #FFF;
}
#admin .btn-area .btn {
	width: 70%;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 20px;
	background: #5264A8;
	font-family: 游ゴシック Medium;
	margin: 4.0rem auto 5.0rem;
}
#admin .sec02.information .bg_white {
	width: 80%;
	background: #FFF;
	border-radius: 15px;
	padding: 1rem 5rem 3rem;
	margin: 2rem auto 0;
}
#admin .sec02.information table {
	table-layout: fixed;
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	
}
#admin .sec02.information table th {
	width: 30%;
	background: #FFF;
	color: #000;
	border-bottom: 1px solid #5264A8;
	padding-bottom: 0.5rem;
	padding-top: 2rem;
	text-align: left;
	padding-left: 1rem;
}
#admin .sec02.information table td {
	width: 70%;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom: 0.5rem;
	padding-top: 2rem;
	text-align: left;
	padding-left: 5rem;
}
#admin .contact_form {
    width: 60%;
    margin: 3rem auto 0;
}
#admin .contact_form label {
    font-size: 18px;
    margin: 1.0rem 0;
}
#admin .contact_form input,
#admin .contact_form select {
    width: 100%;
    margin: 1.0rem 0;
    padding: 0.5rem 1.0rem;
    resize: none;
    font-size: 1.0rem;
    line-height: 1.5rem;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}
#admin .contact_form input:focus,
#admin .contact_form select {
	border: 2px solid #c4c4c4;
	border-color: #5264A8;
	outline: 0;
}
#admin .contact_form .btn-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#admin .sec02 .contact_form .btn-area .btn {
    width: 40%;
}
#admin .sec02 .contact_form .btn-area .btn.clear {
    background: #D2D2D2;
	color: #FFF;
	border: 1px solid #D1D1D1;
}
#admin .sec02.admin_list table.admin_search {
	table-layout: fixed;
	width: 100%;
	margin-top: 6.0rem;
	border-collapse: collapse;	
}

#admin .sec02 table.admin_search .btn-area .btn {
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
}
#admin .sec02 table.admin_search .btn-area .btn a {
	padding: 0.4rem 1rem;
}
#admin .sec02.admin_list .admin_register {
    display: inline-block;
	width: 20%;
}
#admin .sec02.admin_list .btn-area .btn {
    width: 100%;
	margin-top: 6rem;
	margin-bottom: 1rem;
}
#admin .sec02.admin_list table {
    margin-top: 0;
}
#admin .sec02 p.result {
    margin: 1.0rem 0;
	text-indent: 1.0rem;
	font-size: 18px;
}
/* ページャー */
#admin .nav-links{
  display:flex;
  justify-content:flex-start;
  background:#f3f3f3;
	margin-bottom: -5rem;
	align-items: baseline;
}
#admin .nav-links a.page-numbers,span.page-numbers {
  width:50px;
  height:50px;
  margin:2px;
  line-height:50px;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  background:#fff;
  color:#222;
  transition:.3s;
	border-radius: 5px;
}
#admin .nav-links a.page-numbers:hover{
  background:#5264A8;
	color: #FFF;
}
#admin .nav-links .current{
  background:#5264A8;
	color: #FFF;
}
#admin .nav-links .dots{
  background:none;
}
#admin .nav-links p {
	display: inline-block;
	padding-left: 2rem;
}
/*popup表示させたいコンテンツのレイアウトと位置*/
#popup{
  width:40%;
  background:rgba(255,255,255,0.9);
  padding:0 4%;
  box-sizing:border-box;
  display:none;
  position:fixed;
  top:50%;
  left:60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border: 2px solid #f19b37;
	border-radius: 15px;
}
img{
  width:100%;
}
label{
  display:block;
	width: 50%;
	margin: 1.5rem auto;
}
/*ボタンの装飾*/
label span{
  display:block;
  line-height: 1.5rem;
	color: #f19b37;
	font-weight: bold;
}
label span:hover{
  cursor:pointer;
}
input[type="checkbox"]{
  display:none;
}
/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
  display:block;
}
/* ホバー時ウインドウ表示(出席率締め日) */
.btn-mouseover:hover + .mouseover__box{
  display: block;
}
.mouseover__box:hover{
  display: block;
}
.mouseover__box{
  display: none;
  position: fixed;
  top:50%;
  left:40%;
  width: 40%;
  padding: 15px;
  font-size: 1.0rem;
  background-color: #eee;
  border: 2px solid #f19b37;
	border-radius: 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {

body.base {
	background-size: 60%;
}
.header-wrap {
	background-size: 50%;
	background-position: right -50px center;
}
.header-box > .area02 {
	padding-right: 10%;
}
.area02 > .name,
.area02 > .logout {
	padding: 0.5rem 0;
}
.area02 > .name {
	width: 100%;
}
nav.globalMenuSp {
  width: 50%;
}
.sec01 {
	width: 70%;
}
.sec02 dl {
	width: 70%;
}
.sec02 table {
	width: 70%;
}
h2.attendance {
	width: 70%;
}
h3 {
	width: 70%;
}
.sec02 p.caution {
	width: 70%;
}
#admin .sec02 .search_result table {
	font-size: 12px;
}
#admin .area01 {
	width: 65%;
}
#admin .pg-ttl {
	margin-left: 4%;
	font-size: 14px;
}
}
@media screen and (max-width: 767px) {
.pc-only {
	display: none;
}
.sponly {
	display: block;
}
.sp-only {
	display: block;
}
body.base {
	background-size: 150%;
	background-position: top right -240px;
}
.hamburger.is_flow {
  display : none;
  
}
.hamburger {
	display: block;
}
nav.globalMenuSp {
  width: 100%;
}
nav.globalMenuSp ul li {
	font-size: 20px;
}
nav.globalMenuSp ul li.sub {
	font-size: 18px;
}
nav.globalMenuSp ul li a {
  padding: 0.8em 0 0.8em 1em;
}
nav.globalMenuSp ul li a::after {
  top:23.5px;
	width:12px;
  height:12px;
}
.sec01 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 6.0rem;	
}
header img {
	width: 100%;
	min-width: 0;
}
main {
	width: 100%;
	padding: 0 10px;
}
.sec01 h1 {
	font-size: 32px;
}
.sec01 p.date {
	font-size: 14px;
}
.sec01 .pg-link a {
	font-size: 16px;
}
.sec01 table th {
	width: 25%;
}
.sec01 table td {
	padding-left: 20%;
	padding-right: 1.5rem;
}
.sec01.top h2 {
	font-size: 32px;
	width: 80%;
	padding-left: 0;
}
.sec01.top h2::before {
	bottom: 0.3rem;
}
.sec01.contact .btn-area .btn {
	width: 48%;
	font-size: 16px;
}
.sec01.contact .btn-area .top-back {
	width: 75%;
}
#user1 .sec01 .pg-link a {
	font-size: 15px;
}
.sec02 dl {
	width: 100%;
}
.sec02 dt {
	width: 65%;
}
.sec02 dd {
	padding-right: 1.5rem;
}
.sec02 table {
	width: 100%;
}
.sec02 p.caution {
	width: 100%;
}
.sec02 table th,
.sec02 table td	{
	padding-left: 0;
	padding-right: 0;
}
h2.attendance {
	width: 100%;
}
h3 {
	width: 100%;
}
.sec03 table {
	font-size: 14px;
}

.sec03 table .wide {
	width: 50%;
}
.sec03 table .narrow{
	width: 12.5%;
}
.sec03 table th,
.sec03 table td {
	padding: 1.5rem 0.2rem;
}

.header-wrap {
	border-bottom: none;
}
.header-box {
	min-width: auto;
	width: 100%;
}
.header-box::after {  
    background-image: linear-gradient(to right, transparent, #D7D7D7 0%, rgba(255,255,255,0) 70%, transparent);
}
.header-box > .area01 {
	width: 80%;
	height: 80px;
	margin-bottom: 1.0rem;
}
.area01 > figure img {
	min-width: 140px;
}
.header-box > .area02 {
	width: 80%;
	justify-content: flex-start;
	height: auto;
	font-size: 12px;
	height: 30px;
	padding-top: 0;
	margin-bottom: 1.0rem;
}
.area01 > .pg-ttl {
	width: 40%;
	border-radius: 25px;
	text-align: center;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	padding: 0.3rem 0;
	background: inherit;
	border: 1px solid #000;
}
.area02 > .name {
    text-align: left;
	padding-left: 5vw;
}
.header-wrap {	
	background-size: cover;
	background-position: right -140px center;
	border-bottom: none;
	
}
.header-box .logout {
	display: none;
}
.header-box > nav.global {
	display: none;
}
footer ul {
	justify-content: center;
	flex-wrap: wrap;
}
footer ul li {
	width: 45%;
	max-width: 200px;
}
footer p {
	width: 100%;
	text-align: center;
	font-size: 12px;
}
}