/* CSS Document */
.box {
  position: relative;
  width: 100%;
  height: 100vh;
  margin     : auto;
  overflow   : hidden;
}
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}
/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url(/img/header-bg_college_02.png);   /* 背景の画像を指定 */
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top right;
	min-height: 100vh;
	height: 100vh;
}
.box .src2 {
  background-image : url(/img/header-bg_college_03.png);   /* 背景の画像を指定 */
  animation-delay  : 5s;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top right;
	min-height: 100vh;
	height: 100vh;
}
.box .src3 {
  background-image : url(/img/header-bg_college_04.png);   /* 背景の画像を指定 */
  animation-delay  : 10s;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top right;
	min-height: 100vh;
	height: 100vh;
}
.box .src4 {
  background-image : url(/img/header-bg_college_05.png);   /* 背景の画像を指定 */
  animation-delay  : 15s;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top right;
	min-height: 100vh;
	height: 100vh;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}
.contents {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
@media screen and (max-width: 1024px) {
.box .src1,.box .src2,.box .src3,.box .src4 {
	background-size: 125%;
}
}
@media screen and (max-width: 767px) {
.box .src1,.box .src2,.box .src3,.box .src4 {
	background-size: 320%;
	background-position: 44% top;
}
}