/* CSS Document */
/* フロントページ */
body#front{
	font-family: Lato, "Noto Sans Japanese", "游ゴシック Medium", 游ゴシック体, "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:0;
	
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top right;
	min-height: 100vh;
	height: 100vh;
}
#front .header-box::after {
	content: '';    
    background-image: none;
}
#front .ttl {
	width:100%;
	margin: auto;
	margin-top: 6.0rem;
}
#front .ttl h1 {
	font-size: 40px;
	font-family: 游明朝;
	text-align: left;
	margin: auto;
}
#front .ttl p {
	font-size: 12px;
	font-family: 游明朝;
	text-align: left;
	margin: auto;
	padding-left: 1rem;
}
#front .content {
	width:100%;
	margin: auto;
	margin-top: 5.0rem;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
}
#front .content .txt-box {
	font-size: 16px;
	font-family: 游明朝;
	width:33%;
	padding: 1.5rem 2rem 1.5rem 0;
}
#front .content .txt-box p {
	line-height: 2rem;
	font-weight: bold;
}
#front .content .login-form {
	font-size: 16px;
	font-family: 游明朝;
	width:33%;
	padding: 0 1rem;
}
#front .login-form #name {
	font-size: 16px;
	width:100%;
	resize: none;
	font-size: 1.0rem;
	padding: 0.5rem 1.0rem;
	border-radius: 10px;
	border: 1px solid #c4c4c4;
	margin-bottom: 2.5rem;
}
#front .login-form #password {
	font-size: 16px;
	width:100%;
	resize: none;
	font-size: 1.0rem;
	padding: 0.5rem 1.0rem;
	border-radius: 10px;
	border: 1px solid #c4c4c4;
	margin-bottom: 3.0rem;
}
#front .error {
	margin-top: -1rem;
	margin-bottom: 1rem;
	font-size: 16px;
	color: #FF0000;
	font-family: 游ゴシック Medium;
	font-weight: bold;
	text-shadow    : 
       1px  1px 1px #ffffff,
      -1px  1px 1px #ffffff,
       1px -1px 1px #ffffff,
      -1px -1px 1px #ffffff,
       1px  0px 1px #ffffff,
       0px  1px 1px #ffffff,
      -1px  0px 1px #ffffff,
       0px -1px 1px #ffffff;        /* 文字の影 */
}
#front .login-form input.btn {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	width:100%;
	padding: 1.5rem;
	border-radius: 10px;
	background: #1a1a1a;
	border: none;
}
#front .login-form input.btn:hover {
	cursor: pointer;
}
#front .login-form #name:focus {
	border: 2px solid #c4c4c4;
	border-color: #f19b37;
	outline: 0;
}
#front .login-form #password:focus {
	border: 2px solid #c4c4c4;
	border-color: #f19b37;
	outline: 0;
}
#front .login-form .btn-area .btn {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 20px;
	background: #1a1a1a;
	font-family: 游ゴシック Medium;
}
#front .login-form .btn-area .btn a {
	padding: 1.5rem 0;
	text-decoration: none;
}
.area01 > .pg-ttl {
	border: 1px solid #000;
	color: #000;
	background: inherit;
	font-weight: bold;
}
.sp-only {
	display: none;
}
#front .txt-link {
	margin-bottom: 8rem;
}
#front .header-box::after {
	content: '';    
    background-image: none;
}
#front .ttl {
	width:100%;
	margin: auto;
	margin-top: 6.0rem;
}
#front .ttl h1 {
	font-size: 40px;
	font-family: 游明朝;
	text-align: left;
	margin: auto;
}
#front .ttl p {
	font-size: 12px;
	font-family: 游明朝;
	text-align: left;
	margin: auto;
	padding-left: 1rem;
}
#front .content {
	width:100%;
	margin: auto;
	margin-top: 5.0rem;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	padding-bottom: 5rem;
}
#front .content .txt-box {
	font-size: 16px;
	font-family: 游明朝;
	width:33%;
	padding: 1.5rem 3rem 1.5rem 0;
}
#front .content .txt-box p {
	line-height: 2rem;
	font-weight: bold;
}
#front .content .login-form {
	font-size: 16px;
	font-family: 游明朝;
	width:33%;
	padding: 0 1rem;
}
#front .login-form #name {
	font-size: 16px;
	width:100%;
	padding: 0.5rem;
	border-radius: 10px;
	border: none;
	margin-bottom: 2.5rem;
	border: 1px solid #c4c4c4;
}
#front .login-form #password {
	font-size: 16px;
	width:100%;
	padding: 0.5rem;
	border-radius: 10px;
	border: none;
	margin-bottom: 3.0rem;
	border: 1px solid #c4c4c4;
}

#front .login-form input.btn {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	width:100%;
	padding: 1.5rem;
	border-radius: 10px;
	background: #1a1a1a;
	border: none;
}
#front .login-form input.btn:hover {
	cursor: pointer;
}
#front .txt-link p {
	font-size: 14px;
	width: 33%;
	margin-bottom: 1rem;
	position: relative;
}
#front .txt-link p a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	
}
#front .txt-link p::before {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 90%;
    height: 2px;
    background: #edc755;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: left top;
}
#front .txt-link p:hover::before {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}
#front .txt-link p::after {
    content: '';
    position: absolute;
    right: 5%;
    top: 6px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fba54a;
    border-right: 2px solid #fba54a;
    transform: rotate(45deg);
}
#front footer {
	width: 100%;
	background: #fff;
	height: auto;
	padding-top: 10.0rem;
}
#front footer .logo {
	max-width: 1300px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#front footer .logo figure {
	width: 20%;
	text-align: center;
}
#front footer .logo figure a {
	text-decoration: none;
}
#front footer .logo figure a:hover {
	opacity: 0.8;
}
#front footer .logo figure img {
	width: 100%;
	max-width: 100px;
}
#front footer .logo figcaption {
	font-size: 12px;
}
#front footer p {
	padding-top: 6rem;
	padding-bottom: 5rem;
}
@media screen and (max-width: 1299px) {
body#front{
	background-size: 100%;
	background-position: top right;
}	
}
@media screen and (max-width: 1024px) {
.pc-only {
	display: none;
}
.sp-only {
	display: block;
}
body#front{
	background-size: 125%;
	background-position: top right;
}
#front .content .txt-box {
	width:60%;
	margin: 3rem auto 0;
	padding-right: 0;
}
#front .content .login-form {
	width:60%;
	margin: auto;
}
#front .content .txt-link {
	width: 60%;
	text-align: center;
	margin: 5rem auto 2rem;
}
#front .content .txt-link p {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
	
	padding-right: 2rem;
}
#front .txt-link p::before {
    left: 18%;
    width: 65%;
    height: 2px;
    background: #edc755;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: left top;
}
#front .txt-link p::after {
    right: 15%;
}
#front footer {
	padding-top: 5.0rem;
}
}

@media screen and (max-width: 767px) {
.pc-only {
	display: none;
}
.sp-only {
	display: block;
}
p.pad-only {
	display: none;
}
body#front{
	background-size: 320%;
	background-position: 44% top;
}
#front .ttl {
	margin-top: 4.0rem;
}
#front .content .txt-box {
	font-size: 16px;
	font-family: 游明朝;
	width:98%;
	margin: auto;
	padding-right: 0;
}
#front .content .txt-box p {
	line-height: 2rem;
	font-weight: bold;
}
#front .content .login-form {
	font-size: 16px;
	font-family: 游明朝;
	width:98%;
	padding: 0 1rem;
	margin: auto;
}
#front .content .txt-link {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 5rem;
}

#front footer .logo {
	width: 100%;
	margin: auto;
	padding: 0 10px;
}
#front footer .logo figure {
	width: 48%;
	padding: 1rem 0;
}
#front footer {
	padding-top: 0;
}
}